html {
    height: 100%;
}

body {
  height: 100%;
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.row{
  width: 100%;
}

.col-3 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    flex: 1 1 auto;
}

.card-img-top{
  border-radius: 5px;
}

button.btn.btn-primary:hover {
  transform: scale(1.1);
}